*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 40px ;
}
.parent{
    margin-top: 50px;
    width: 100%;
}
.parent div{
    background-color: #999999;
    padding: 10px;
    position: relative;
    border: 3px solid black;
    float: left;
    width: 30.33%;
    margin-left: 30px;
}
.clear{
    clear: both;
}
.parent div .chicken,
.parent div .beef,
.parent div .sushi{
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
.parent div .chicken{
    background-color: #d59898;
}
.parent div .beef{
    background-color: #c14543;
    color: white;
}
.parent div .sushi{
    background-color: #e5d198;
}
.parent div p{
    margin-top: 50px;
    font-weight: 600;
}
/* Mobile */
@media (max-width: 767px){
    .parent div{
        width: calc(100% - 5px);
        margin-bottom: 10px;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px){
    .parent .one,
    .parent .two{
        width: calc(50% - 30px);
        margin-bottom: 30px;
    }
    .parent .three{
        width: 100%;
    }
}
